.sitemap a,
.whatsapp-float,
a {
    text-decoration: none
}

.hero,
header {
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}

.hero h2,
.hero p {
    text-shadow: 2px 2px 3px #000
}

.hero p,
.instrucciones strong {
    font-weight: 700
}

.footer-links,
.sitemap ul,
nav ul {
    list-style: none
}

body {
    font-family: Karla, sans-serif;
    margin: 0;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
    min-width: 100vw;
    overflow-x: hidden;
    font-size: 22px
}


.cta,
.cta-herramientas {
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: #007bff;
    color: #fff;
    transition: background-color .3s;
    margin: 30px;
}

.cta {
    display: inline-block
}

.cta-herramientas:hover,
.cta:hover {
    background-color: #333;
    color: #fff
}

.cta-herramientas {
    height: 20px;
    width: auto
}

.lista-herramientas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}
.herramientas {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.herramienta {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.herramienta img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px
}

.descripcion-extendida {
    display: none;
    margin-top: 10px
}

.grid-item>div>img,
.seo-herrramientas {
    height: 200px;
    width: auto
}

.generador-metaetiquetas,
.generador-robots,
.generador-sitemap {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px
}

.generador-metaetiquetas h3,
.generador-robots h3,
.generador-sitemap h3 {
    font-size: 1.5em;
    margin-bottom: 10px
}

.generador-metaetiquetas label,
.generador-robots label,
.generador-sitemap label {
    display: block;
    margin-bottom: 5px
}

.generador-metaetiquetas input[type=text],
.generador-metaetiquetas textarea,
.generador-robots input[type=text],
.generador-robots textarea,
.generador-sitemap input[type=date],
.generador-sitemap input[type=number],
.generador-sitemap input[type=text],
.generador-sitemap select,
.generador-sitemap textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box
}

.generador-robots .directiva {
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center
}

.generador-robots .remove-directive {
    margin-left: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer
}

.generador-metaetiquetas button,
.generador-robots button,
.generador-sitemap button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer
}

.sitemap a,
a,
nav a:hover {
    color: #007bff
}

#mensaje,
.generador-robots textarea,
.generador-sitemap textarea,
.grid-item-blog img,
.grid-item>img {
    height: 200px
}

.generador-robots #download-link,
.generador-sitemap #download-link-sitemap {
    display: none;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px
}

.seccion {
    margin-bottom: 15px
}

.blog-ext li,
.seccion h4 {
    margin-bottom: 10px
}

.instrucciones {
    margin-bottom: 20px;
    background-color: #f8f9fa;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px
}

.instrucciones ol,
.instrucciones ul {
    margin-left: 20px;
    margin-bottom: 10px
}

.instrucciones li,
.paquete li {
    margin-bottom: 5px
}

.generador-metaetiquetas textarea {
    height: 150px
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .3s
}

.whatsapp-float:hover {
    transform: scale(1.1)
}

.whatsapp-float img {
    width: 100%;
    height: auto
}

.aviso-legal,
.politica-cookies,
.politica-privacidad {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px
}

.sitemap {
    display: flex;
    flex-direction: column;
    padding: 40px
}

.sitemap ul {
    padding-left: 20px
}

a {
    transition: color .3s
}

a:hover {
    color: #333
}

header {
    background-image: url('media/img/banner.png');
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    color: #fff;
    background-color: red;
    padding: 30px
}

.header-left {
    background-color: #33333335;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 5px #111
}

.hero,
.hero-arriba {
    padding: 30px;
    text-align: center
}

.header-left>img {
    height: 300px;
    width: auto
}

.header-right h2 {
    font-size: 80px;
    letter-spacing: 15px;
    margin: 0
}

.header-right button {
    height: 40px;
    background-color: #0056b3;
    border-radius: 10px;
    color: #fff;
    font-size: 30px
}

.dropdown-content a,
nav a {
    text-decoration: none;
    font-size: 20px
}

.header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center
}

.imagen-articulo,
nav li {
    margin-right: 20px
}

nav a {
    color: #fff
}

.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    z-index: 1
}

.dropdown-content li {
    margin: 0
}

.blog-ext ul,
.paquete ul {
    list-style-type: disc;
    margin-left: 20px
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    color: #333
}

.dropdown:hover .dropdown-content {
    display: block
}

.dropdown-content a:hover {
    background-color: #007bff;
    color: #fff
}

.contacto button:hover,
footer {
    background-color: #0056b3
}

.imagen-articulo {
    float: right;
    max-width: 500px;
    height: auto
}

.hero-arriba {
    color: #000;
    margin-bottom: 40px;
    border-radius: 20px
}

.foto-quien,
.foto-spa {
    border-radius: 5px;
    width: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    margin: 30px
}

.hero {
    background-image: url(media/img/banner-hero3.webp);
    color: #fff
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff
}

.hero p {
    font-size: 1.6rem;
    color: #fff
}

.quien-soy {
    margin: 30px
}

.grid-container>h1,
.quien-soy>h1,
h2 {
    text-align: center
}

.quien-soy>p {
    text-align: justify
}

.foto-quien {
    float: right;
    height: 200px
}

.foto-spa {
    float: left;
    height: 300px
}

.foto-spa2 {
    float: right;
    height: 500px;
    width: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    margin: 30px
}

.grid-item,
.grid-item-blog {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .715);
    background-color: #fff;
    height: auto
}

.blog-ext,
.contacto,
.info-inicio .informacion-ext,
.quienes-somos,
.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify
}

.blog-ext>*,
.contacto>*,
.informacion-ext>*,
.quienes-somos>*,
.servicios>* {
    margin-bottom: 20px;
    max-width: 90%
}

.grid-container {
    display: grid;
    align-items: center;
    gap: 30px;
    margin: 30px
}

.grid-item-blog {
    display: grid;
    justify-items: center;
    transition: transform .3s
}

.grid-item-blog:hover,
.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 5px rgba(0, 14, 117, .483)
}

.grid-item-blog h3 {
    font-size: 1.9rem;
    margin-bottom: 15px
}

.grid-item {
    opacity: 0;
    transform: translateY(50px);
    transition: transform .3s, _ .3s;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.grid-item.visible {
    opacity: 1;
    transform: translateY(0)
}

.grid-item h3 {
    font-size: 1.5rem;
    margin-bottom: 15px
}

.paquete h3,
.paquete p,
.paquete ul {
    margin-bottom: 10px
}

.paquete {
    border: 1px solid #ced4da;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .1)
}

.paquete h3 {
    font-size: 1.8rem;
    color: #212529
}

.paquete p {
    color: #495057
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center
}

.blog-ext {
    background-color: #f8f9fa;
    margin: 40px
}

.blog-ext .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px
}

.blog-ext h2 {
    font-size: 2.5rem;
    color: #343a40;
    font-weight: 600
}

.blog-ext p {
    font-size: 1.3rem;
    margin-bottom: 25px;
    line-height: 1.6;
    color: #495057
}

.blog-ext ul {
    margin-bottom: 25px
}

#contact-form {
    width: 700px
}

.contacto form {
    max-width: 600px;
    margin: 20px auto
}

.contacto label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700
}

.contacto input,
.contacto textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box
}

.contacto button {
    padding: 12px 25px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color .3s
}

footer {
    color: #fff;
    padding: 40px;
    text-align: center;
    border-top: 4px solid #333
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center
}

.footer-logo>img {
    width: 150px;
    height: auto
}

.footer-links>li>a {
    list-style: none;
    color: #fff
}

@media (max-width:950px) {

    .blog-ext,
    .blog-ext>p {
        padding: 0
    }

    body {
        font-size: 18px
    }

    .header-content {
        flex-direction: column;
        text-align: center
    }

    .header-left>img {
        height: 300px
    }

    .header-right h2 {
        font-size: 50px;
        letter-spacing: 10px
    }

    .footer-links>li>a,
    .header-right button,
    .navegacion>li>a {
        font-size: 20px
    }

    .blog-ext {
        margin: 10px
    }

    .navegacion {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start
    }

    .navegacion>li {
        margin: 9px
    }

    .hero {
        margin-bottom: 0
    }

    .hero h1 {
        font-size: 2rem
    }

    .hero p {
        font-size: 1.2rem
    }

    .grid-container {
        grid-template-columns: 1fr;
        padding: 20px
    }

    .grid-item,
    .grid-item-blog {
        padding: 20px
    }

    .descripcion-inicio {
        display: grid;
        justify-items: center
    }

    .imagen-articulo {
        height: 250px
    }

    #contact-form {
        width: 100%
    }

    #mensaje {
        height: 150px
    }
    
    .herramienta {
        width: 45%; /* Dos columnas en pantallas medianas */
    }
}

@media (max-width:768px) {

    .blog-ext,
    .blog-ext>p {
        padding: 0
    }

    body {
        font-size: 18px
    }

    .header-content {
        flex-direction: column;
        text-align: center
    }

    .header-left>img {
        height: 300px
    }

    .header-right h1 {
        font-size: 50px;
        letter-spacing: 10px
    }

    .footer-links>li>a,
    .header-right button,
    .navegacion>li>a {
        font-size: 20px
    }

    .blog-ext {
        margin: 10px
    }

    .navegacion {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start
    }

    .navegacion>li {
        margin: 9px
    }

    .hero {
        background-image: url(media/img/banner-hero5.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 0
    }

    .hero h1 {
        font-size: 2rem
    }

    .hero p {
        font-size: 1.2rem
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        margin: 0
    }

    .grid-item,
    .grid-item-blog {
        display: flex;
        flex-direction: column-reverse
    }

    .descripcion-inicio {
        display: grid;
        justify-items: center
    }

    .imagen-articulo {
        height: 250px
    }

    #contact-form {
        width: 100%
    }

    #mensaje {
        height: 150px
    }
    
    .herramienta {
        width: 45%; /* Dos columnas en pantallas peque침as */
    }
}

@media (max-width:480px) {
    body {
        font-size: 22px
    }

    .header-left>img {
        height: 200px
    }

    .header-right h1 {
        font-size: 40px;
        letter-spacing: 5px
    }

    .header-right button {
        font-size: 18px
    }

    header {
        display: grid;
        justify-items: center
    }

    .navegacion {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start
    }

    .navegacion>li {
        margin: 9px
    }

    .navegacion>li>a {
        font-size: 20px;
        color: #ccc;
        transition: color .2s
    }

    .navegacion>li>a:hover {
        color: #007bff
    }

    .whatsapp-float {
        bottom: 170px
    }

    .blog>h1,
    .contacto {
        margin: 20px
    }

    .quien-soy {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .foto-quien {
        width: 290px;
        height: auto
    }

    .foto-spa {
        float: none;
        width: 200px;
        height: auto
    }

    .foto-spa2 {
        float: none;
        width: 150px;
        height: auto
    }

    .blog-ext {
        background-color: #f8f9fa;
        margin: 10px
    }

    .hero h1 {
        font-size: 1.5rem
    }

    .footer-links>li>a,
    .hero p {
        font-size: 20px
    }

    .grid-item,
    .grid-item-blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px
    }

    .footer-logo>img,
    .grid-item img,
    .grid-item-blog img {
        width: 100px;
        height: auto
    }

    #mensaje {
        height: 100px
    }

    footer {
        padding: 10px
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 15px
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start
    }
    .seo-herrramientas {
        height: 100px;
        width: auto;
    }
    .herramienta {
        width: 90%; /* Una columna en pantallas muy peque침as */
        margin: 10px auto; /* Centrar la herramienta */
    }

    .herramienta img {
        max-width: 80px; /* Reduce el tama침o del icono en m칩viles */
    }
}