.sitemap a,
.whatsapp-float,
a {
    text-decoration: none;
}


header {
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}

.hero h2,
.hero p {
    text-shadow: 2px 2px 3px #000
}

.hero p strong {
    font-weight: 700
}

.footer-links,
.sitemap ul,
nav ul {
    list-style: none
}

body {
    font-family: Karla, sans-serif;
    margin: 0;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #333;
    background-color: whitesmoke;
    min-width: 100vw;
    overflow-x: hidden;
    font-size: 22px
}

.cta,
.cta-herramientas {
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: gold;
    color: #333;
    transition: background-color .3s;
    margin: 30px
}

.cta {
    display: inline-block
}

.cta-herramientas:hover,
.cta:hover {
    background-color: #333;
    color: #fff;
}

.cta-herramientas {
    height: 20px;
    width: auto
}

.lista-herramientas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.herramientas {
    display: flex;
    flex-direction: column;
    align-items: center
}
.herramientas h3{
    color: #333;
}
.quien-soy h3{
    color: #333;
}
.herramienta {
    display: grid;
    justify-items: center;
    transition: transform .3s;
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 14, 117, .483);
    border-radius: 12px;
    background-color: white;
}

.herramienta:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 5px rgba(124, 112, 0, 0.781)
}

.herramienta>p {
    text-align: justify;
    margin: 10px;
}


.herramienta img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px
}

.grid-item>div>img,
.seo-herrramientas {
    height: 200px;
    width: auto
}

.generador-metaetiquetas,
.generador-robots,
.generador-sitemap {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px
}

.generador-metaetiquetas h3,
.generador-robots h3,
.generador-sitemap h3 {
    font-size: 1.5em;
    margin-bottom: 10px
}

.generador-metaetiquetas label,
.generador-robots label,
.generador-sitemap label {
    display: block;
    margin-bottom: 5px
}

.generador-metaetiquetas input[type=text],
.generador-metaetiquetas textarea,
.generador-robots input[type=text],
.generador-robots textarea,
.generador-sitemap input[type=date],
.generador-sitemap input[type=number],
.generador-sitemap input[type=text],
.generador-sitemap select,
.generador-sitemap textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box
}

.generador-metaetiquetas button,
.generador-robots button,
.generador-sitemap button {
    background-color: gold;
    color: #333;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer
}

.sitemap a,
a,
nav a:hover {
    color: rgb(173, 148, 2);
}

#mensaje,
.generador-robots textarea,
.generador-sitemap textarea,
.grid-item-blog img {
    height: 200px
}

.generador-robots #download-link,
.generador-sitemap #download-link-sitemap {
    display: none;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px
}

.seccion {
    margin-bottom: 15px
}

.blog-ext li,
.seccion h4 {
    margin-bottom: 10px
}

.generador-metaetiquetas textarea {
    height: 150px
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .3s
}

.whatsapp-float:hover {
    transform: scale(1.1)
}

.whatsapp-float img {
    width: 100%;
    height: auto
}

.aviso-legal,
.politica-cookies,
.politica-privacidad {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px
}

.sitemap {
    display: flex;
    flex-direction: column;
    padding: 40px
}

.sitemap ul {
    padding-left: 20px
}

a {
    transition: color .3s
}

a:hover {
    color: #333
}

header {
    background-image: url(media/img/banner.png);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    color: #fff;
    padding: 30px;
    border-bottom: 8px solid;
    border-image: linear-gradient(to right, #333, gold, #333) 9;
}

.header-left {
    background-color: #33333335;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 5px #474747;
    border-radius: 12px;
}


.hero-arriba {
    padding: 30px;
    text-align: center
}

.hero-arriba>p {
    text-align: center;
}



.header-right p {
    font-size: 80px;
    letter-spacing: 15px;
    margin: 0;
    text-shadow: 2px 2px 1px #000;
}

.header-right button {
    height: 40px;
    background-color: gold;
    border-radius: 10px;
    color: #333;
    font-size: 30px
}

.dropdown-content a,
nav a {
    text-decoration: none;
    font-size: 20px
}

.header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center
}

.imagen-articulo {
    margin: 20px
}

nav li {
    margin-left: 10px;
    margin-right: 10px;
}

nav a {
    color: white
}

.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    z-index: 1
}

.dropdown-content li {
    margin: 0
}

.blog-ext ul {
    list-style-type: disc;
    margin-left: 20px
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    color: #333
}

.dropdown:hover .dropdown-content {
    display: block
}

.dropdown-content a:hover {
    background-color: gold;
    color: #333
}

.contacto button:hover,
footer {

    background-color: #333;
}

#terminos-seo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

#terminos-seo>img {
    height: 150px;
    width: 150px;
}

#terminos-seo h1 {
    text-align: center;
    /* Centrar el título */
    margin-bottom: 20px;
    /* Espacio debajo del título */
    color: #333;
    /* Color del título */
}

.terminos-lista {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    align-content: space-around;

}

.termino {
    width: 300px;
    border: 1px solid #ccc;
    /* Borde alrededor de cada término */
    margin: 20px;
    padding: 10px;
    /* Espacio dentro de cada término */
    border-radius: 5px;
    /* Bordes redondeados */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(50px);
    transition: transform .3s, _ .3s;
    /* Transición para el efecto hover */
}

.termino:hover {
    box-shadow: 0 2px 5px rgba(124, 112, 0, 0.781);
    /* Escalar al hacer hover */
}
.termino.visible {
    opacity: 1;
    transform: translateY(0)
}
.termino h3 {
    color: rgb(173, 148, 2);
    text-align: center;
}

.termino p {
    color: #333;
    /* Color del texto del término */
    line-height: 1.6;
    /* Interlineado */
}

.imagen-articulo {
    float: right;
    max-width: 500px;
    height: auto
}

.hero-arriba {
    color: #000;
    margin-bottom: 40px;
    border-radius: 20px
}

.foto-spa {
    border-radius: 12px;
    width: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    margin: 30px;
    float: right;
    height: 200px;
}

.hero {
    text-align: center;
    position: relative;
    overflow: hidden;
    border-top: 8px solid;
    border-image: linear-gradient(to right, #333, gold, #333) 9;
}

.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);

}

.descripcion-inicio h3{
    display: grid;
    color: #333;
}
.hero::before {
    /* Pseudo-elemento para el fondo */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Imagen de fondo */
    background-size: cover;

}

.hero-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}


.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff
}

.hero p {
    text-align: center;
    font-size: 1.6rem;
    color: #fff
}

.quien-soy {
    margin: 30px
}

.grid-container>h1,
.quien-soy>h1,
h2 {
    text-align: center
}


.foto-spa {
    float: left;
    height: 400px
}



.grid-item,
.grid-item-blog {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .715);
    background-color: #fff;
    height: auto
}

.blog-ext,
.contacto,
.quienes-somos,
.introduccion,
.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify
}
.introduccion,
.faq,
.cta-final {
    margin: 30px;
}

.blog-ext>*,
.contacto>*,
.quienes-somos>* {
    margin-bottom: 20px;
    max-width: 90%
}

.grid-container {
    display: grid;
    align-items: center;
    gap: 30px;
    margin: 30px
}

.grid-item-blog {
    display: grid;
    justify-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: transform .3s, _ .3s;
}
.grid-item-blog.visible{
    opacity: 1;
    transform: translateY(0)
}
.grid-item-blog:hover,
.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 5px rgba(124, 112, 0, 0.781)
}

.grid-item-blog h3 {
    font-size: 1.9rem;
    margin-bottom: 15px
}

.grid-item {
    display: flex;
    justify-content: space-around;
    align-items: center
}


.grid-item h3 {
    font-size: 1.5rem;
    margin-bottom: 15px
}


.blog {
    display: flex;
    flex-direction: column;
    align-items: center
}

.blog-ext {
    background-color: #f8f9fa;
    margin: 10px
}

.blog-ext h2 {
    font-size: 2.5rem;
    color: #343a40;
    font-weight: 600
}

.blog-ext p {
    font-size: 1.3rem;
    margin-bottom: 25px;
    line-height: 1.6;
    color: #495057
}

.blog-ext ul {
    margin-bottom: 25px
}

#contact-form {
    width: 700px
}

.contacto form {
    max-width: 600px;
    margin: 20px auto
}

.contacto label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700
}

.contacto input,
.contacto textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box
}

.contacto button {
    padding: 12px 25px;
    background-color: gold;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color .3s
}

footer {
    color: #fff;
    padding: 40px;
    text-align: center;
    border-top: 8px solid;
    border-image: linear-gradient(to right, #333, gold, #333) 9;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center
}

.logotipo2STT-footer {
    height: 120px;
    width: auto;
}



@media (max-width:950px) {
    .logotipo2STT-header {
        height: 180px;
        width: auto;
    }

    .logotipo2STT-footer {
        height: 120px;
        width: auto;
    }

    .blog-ext {
        padding: 0
    }

    body {
        font-size: 18px
    }

    .header-content {
        flex-direction: column;
        text-align: center
    }



    .header-right p {
        font-size: 50px;
        letter-spacing: 10px
    }

    .header-right button {
        font-size: 20px
    }

    .blog-ext {
        margin: 10px
    }

    .navegacion {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start
    }


    .hero {
        margin-bottom: 0
    }

    .hero h1 {
        font-size: 2rem
    }
    h3 {
        font-size: 2rem;
        color: white;
    }

    .hero p {
        font-size: 1.2rem
    }

    .grid-container {
        grid-template-columns: 1fr;
        padding: 20px
    }

    .grid-item,
    .grid-item-blog {
        padding: 20px
    }

    .descripcion-inicio {
        display: grid;
        justify-items: center
    }

    .imagen-articulo {
        height: 250px
    }

    #contact-form {
        width: 100%
    }

    #mensaje {
        height: 150px
    }

    .herramienta {
        width: 45%
    }
}

@media (max-width:768px) {

    .blog-ext {
        padding: 0
    }

    body {
        font-size: 18px
    }

    .header-content {
        flex-direction: column;
        text-align: center
    }


    .header-right h1 {
        font-size: 50px;
        letter-spacing: 10px
    }

    .header-right button {
        font-size: 20px
    }

    .blog-ext {
        margin: 10px
    }

    .navegacion {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start
    }




    .hero h1 {
        font-size: 2rem
    }
    .hero > h3 {
        font-size: 2rem;
        color: white;
    }
    .hero p {
        font-size: 1.2rem
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        margin: 0
    }

    .grid-item,
    .grid-item-blog {
        display: flex;
        flex-direction: column-reverse
    }

    .descripcion-inicio {
        display: grid;
        justify-items: center
    }

    .imagen-articulo {
        height: 250px
    }

    #contact-form {
        width: 100%
    }

    #mensaje {
        height: 150px
    }

    .herramienta {
        width: 45%
    }
}

@media (max-width:480px) {
    body {
        font-size: 18px
    }
    p {
        text-align: justify; /* Texto justificado */
        word-wrap: break-word; /* Rompe palabras largas para evitar espacios */
        -webkit-hyphens: auto; /* Habilitar guiones en Safari */
        -moz-hyphens: auto; /* Habilitar guiones en Firefox */
        -ms-hyphens: auto; /* Habilitar guiones en Internet Explorer */
        hyphens: auto; /* Habilitar guiones en otros navegadores */
    }
    .descripcion-inicio h3 {
        text-align: center;
    }
    .grid-container h3{
        color: #333;
    }
    .cta{
        height: auto;
        width: auto;
        text-align: center;
        padding: 5px;
        margin: 10px;
    }
    .grid-item  a{
        text-align: center;
    }
    .dropdown-content a, nav a {
        font-size: 18px;
    }
    .header-right h1 {
        font-size: 40px;
        letter-spacing: 5px
    }

    h1 {
        font-size: 30px;
        text-align: left;
    }
    .header-right p {
        font-size: 28px;
        text-align: center;
    }
    .hero-content h3{
        color:white;
    }
    
    .grid-item h3 {
        font-size: 25px;
        color: #333;
    }
    h3 {
        font-size: 25px;
        color: #333;
    }
    .header-right button {
        font-size: 18px
    }

    header {
        display: grid;
        justify-items: center
    }

    .navegacion {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start
    }



    .whatsapp-float {
        bottom: 170px
    }

    .blog>h1,
    .contacto {
        margin: 20px
    }

    .quien-soy {
        display: flex;
        flex-direction: column;
        align-items: center
    }



    .foto-spa {
        float: none;
        width: 200px;
        height: auto
    }

    .foto-spa2 {
        float: none;
        width: 150px;
        height: auto
    }

    .blog-ext {
        background-color: #f8f9fa;
        margin: 10px
    }

    .hero h1 {
        font-size: 1.5rem
    }

    .hero p {
        font-size: 20px
    }

    .grid-item,
    .grid-item-blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px
    }


    .grid-item img,
    .grid-item-blog img {
        width: 100px;
        height: auto
    }

    #mensaje {
        height: 100px
    }

    footer {
        padding: 10px
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

    }

    .seo-herrramientas {
        height: 100px;
        width: auto
    }

    .herramienta {
        width: 90%;
        margin: 10px auto
    }

    .herramienta img {
        max-width: 80px
    }
}